@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #ecf0f1;
    color: #001029;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #001029;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.current {
    background: #fff;
    border-radius: 5px;
}

/* header */
.navigation-links {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navigation-links ul {
    display: flex;
}

.navigation-links a {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.navigation-links a:hover {
    background: #fff;
    border-radius: 5px;
}

.navigation-links a i {
    margin-left: 0.2rem;
}

/* card content */
.card-content {
    background: #fff;
    margin: 2rem 1rem;
    padding: 2.5rem 1rem;
    width: 86%;
    border-radius: 15px;
    box-shadow: 0 5px 28px -5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-content h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.card {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.card h3 {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 0.8rem;
    font-weight: 500;
}

.card-light-red:hover {
    border-radius: 5px;
    background: #ffdcdc;
}

.card-light-violet:hover {
    background: #ebdcff;
}

.card-light-green:hover {
    background: #dcffdd;
}

.card-light-orange:hover {
    background: #ffe6bb;
}

/* icons */
.icon {
    padding: 0.9rem;
    border-radius: 50%;
    color: #001029;
}

.icon-light-red {
    background: #ffdcdc;
}

.icon-light-violet {
    background: #ebdcff;
}

.icon-light-green {
    background: #dcffdd;
}

.icon-light-orange {
    background: #ffe6bb;
}

@media(max-width:780px) {

    .navigation-links {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navigation-links ul {
        display: block;
    }

    .navigation-links li {
        padding: 1rem 0;
    }

    .card-content {
        background: #fff;
        margin: 2rem 0rem;
        padding: 2.5rem 1rem;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
        display: block;
    }

    .card-content h2 {
        margin-top: 1rem;
    }

    .container {
        padding: 1rem 2rem;
        max-width: 500px;
    }
}